html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    height: 40vh;
    background-color: rgb(42, 165, 159);
    background-size: cover;
}

header h1 {
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    padding: 3rem;
}

header p {
    color: rgb(47, 47, 47);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .1rem;
}