html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    height: 40vh;
    background-color: rgb(42, 165, 159);
    background-size: cover;
}

header h1 {
    margin: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    padding: 3rem;
}

header p {
    color: rgb(47, 47, 47);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: .1rem;
}

main {
    display: flex;
    flex-direction: column
}

.rss {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: 0 auto;
}

.tiempo {
    width: 30rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 5rem;
}

a:hover {
    text-decoration: underline;
}

.noticias {
    width: 30rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}